Tour le plus rapide pour chaque circuit

In [13]:
import pandas as pd
lap_times = pd.read_csv("../data/lap_times.csv")
circuits = pd.read_csv("../data/circuits.csv")
races = pd.read_csv("../data/races.csv")
drivers = pd.read_csv("../data/drivers.csv")
circuits.head()

,circuitId,circuitRef,name,location,country,lat,lng,alt,url
0,1,albert_park,Albert Park Grand Prix Circuit,Melbourne,Australia,-37.84970,144.96800,10,http://en.wikipedia.org/wiki/Melbourne_Grand_P...
1,2,sepang,Sepang International Circuit,Kuala Lumpur,Malaysia,2.76083,101.73800,18,http://en.wikipedia.org/wiki/Sepang_Internatio...
2,3,bahrain,Bahrain International Circuit,Sakhir,Bahrain,26.03250,50.51060,7,http://en.wikipedia.org/wiki/Bahrain_Internati...
3,4,catalunya,Circuit de Barcelona-Catalunya,Montmeló,Spain,41.57000,2.26111,109,http://en.wikipedia.org/wiki/Circuit_de_Barcel...
4,5,istanbul,Istanbul Park,Istanbul,Turkey,40.95170,29.40500,130,http://en.wikipedia.org/wiki/Istanbul_Park

In [9]:
def convert_to_human_readable(milliseconds):
    minutes = milliseconds // 60000
    seconds = (milliseconds % 60000) // 1000
    millis = milliseconds % 1000
    return f"{minutes}m {seconds}s {millis}ms"


lap_times_circuit = pd.merge(pd.merge(lap_times.groupby("raceId").agg(meilleur_temps = ("milliseconds","min")), races,on = "raceId"), circuits,on ="circuitId").groupby("location").agg(meilleur_temps_ever = ("meilleur_temps","min"))
lap_times_circuit["meilleur_temps_ever"] = lap_times_circuit["meilleur_temps_ever"].apply(convert_to_human_readable)
lap_times_circuit

                     meilleur_temps_ever
location
Abu Dhabi                   1m 26s 103ms
Al Daayen                   1m 23s 196ms
Austin                      1m 36s 169ms
Baku                          1m 43s 9ms
Budapest                    1m 16s 207ms
Buenos Aires                1m 27s 981ms
Estoril                     1m 22s 873ms
Hockenheim                  1m 13s 780ms
Imola                       1m 15s 484ms
Indianapolis                1m 10s 399ms
Istanbul                    1m 24s 770ms
Jeddah                      1m 30s 734ms
Jerez de la Frontera        1m 23s 135ms
Kuala Lumpur                 1m 34s 80ms
Las Vegas                   1m 35s 490ms
Le Castellet                1m 32s 740ms
Magny Cours                  1m 15s 45ms
Marina Bay                  1m 35s 867ms
Melbourne                   1m 19s 813ms
Mexico City                 1m 17s 774ms
Miami                       1m 29s 708ms
Monte-Carlo                 1m 12s 909ms
Montmeló                    1m 15s 641ms
Montreal                     1m 13s 78ms
Monza                        1m 21s 46ms
Mugello                     1m 18s 833ms
Nürburg                     1m 18s 354ms
Oyama                       1m 18s 426ms
Portimão                    1m 18s 750ms
Sakhir                      0m 55s 404ms
Shanghai                    1m 32s 238ms
Silverstone                 1m 18s 739ms
Sochi                       1m 35s 761ms
Spa                         1m 45s 108ms
Spielberg                    1m 5s 619ms
Suzuka                      1m 30s 983ms
São Paulo                   1m 10s 540ms
Uttar Pradesh               1m 27s 249ms
Valencia                    1m 38s 683ms
Yeongam County              1m 39s 605ms
Zandvoort                    1m 11s 97ms

In [ ]:
def conversion(milliseconds):
    minutes = milliseconds // 60000
    seconds = (milliseconds % 60000) // 1000
    millis = milliseconds % 1000
    return f"{minutes}m {seconds}s {millis}ms"

merged_data = pd.merge(lap_times, races, on="raceId")
merged_data = pd.merge(merged_data, circuits, on="circuitId")

best_laps_per_race = merged_data.loc[merged_data.groupby("raceId")["milliseconds"].idxmin()]

best_laps_per_race = pd.merge(best_laps_per_race, drivers, on="driverId")

best_laps_per_circuit = best_laps_per_race.loc[best_laps_per_race.groupby("circuitId")["milliseconds"].idxmin()]

best_laps_per_circuit["meilleur_temps_ever"] = best_laps_per_circuit["milliseconds"].apply(conversion)

result = best_laps_per_circuit[[
    "location", "meilleur_temps_ever", "forename", "surname", "year"
]]

result = result.rename(columns={
    "location": "Circuit",
    "meilleur_temps_ever": "Best_Lap_Time",
    "forename": "Driver_First_Name",
    "surname": "Driver_Last_Name",
    "year": "Year",
    "name": "Race_Name",
})

result.query("Circuit == ''")

       Circuit Best_Lap_Time Driver_First_Name Driver_Last_Name  Year
522  Melbourne  1m 19s 813ms           Charles          Leclerc  2024

# Ressources
https://motorsporttickets.com/blog/lap-records-in-formula-1-list-fastest-lap-times-at-every-circuit/?utm_source=aw&utm_medium=affiliate&utm_campaign=1858990&sv1=affiliate&sv_campaign_id=1858990&awc=21865_1742568409_4ebb1d25ea618e93c9504e49dd0a6d82