# Question 1 : Quels pilotes ont gagn√© au moins 30 courses ? Indiquez le nombre de victoires pour ces personnes.

In [3]:
import pandas as pd
import sys
from pathlib import Path
PROJECT_ROOT = Path.cwd().parent
sys.path.append(str(PROJECT_ROOT))
from options.config import DATA_DIR

results = pd.read_csv(f"{DATA_DIR}/results.csv")
drivers = pd.read_csv(f"{DATA_DIR}/drivers.csv")

In [2]:
winners = results[results["position"] == "1"]
winners_victoires = winners.groupby("driverId").size().reset_index(name="Nombre de victoires")
winners_victoires_name = pd.merge(winners_victoires,drivers,on = "driverId")[["forename","surname","Nombre de victoires"]].sort_values(by="Nombre de victoires",ascending=False)
winners_victoires_name[winners_victoires_name["Nombre de victoires"] >= 30]

      forename     surname  Nombre de victoires
0        Lewis    Hamilton                  104
15     Michael  Schumacher                   91
107        Max  Verstappen                   61
11   Sebastian      Vettel                   53
29       Alain       Prost                   51
27      Ayrton       Senna                   41
2     Fernando      Alonso                   32
26       Nigel     Mansell                   31

En une ligne mdr

In [13]:
pd.merge(results,drivers,on="driverId").query("position == '1'").groupby(["driverId","forename","surname"]).size().reset_index(name = "Victoires").query("Victoires >= 30").sort_values("Victoires", ascending=False)

     driverId   forename     surname  Victoires
0           1      Lewis    Hamilton        104
15         30    Michael  Schumacher         91
107       830        Max  Verstappen         61
11         20  Sebastian      Vettel         53
29        117      Alain       Prost         51
27        102     Ayrton       Senna         41
2           4   Fernando      Alonso         32
26         95      Nigel     Mansell         31