# Question 2

**Quel était le classement des pilotes à l'issue de la saison 2023 ? Gérer les cas d'égalité (nombre de victoires, deuxièmes places, etc.).**

In [ ]:
import pandas as pd

drivers = pd.read_csv('../data/drivers.csv')
results = pd.read_csv('../data/results.csv')

0         1
1         2
2         3
3         4
4         5
         ..
26514    16
26515    17
26516    18
26517     R
26518     W
Name: positionText, Length: 26519, dtype: object

## Résolution

D'abord on regarde la 'positionOrder' (le rang final d'un pilote). Cependant il y a beaucoup d'égalités. On va également combiner avec le nombre de points.

Puisque l'on a le choix de la méthode de classement, je choisis de créer une colonne rating qui est une combinaison de la positionOrder et du nombre de points. On va ensuite trier par rating pour obtenir le classement final.

In [39]:
results[['driverId', 'positionOrder']]

results_join_drivers = pd.merge(drivers,results, on='driverId')[["driverId","forename", "surname", "positionOrder","points"]].sort_values(by='points', ascending=False)

grouped_results = results_join_drivers.groupby('driverId').agg({
    'points': 'sum',
    'positionOrder': 'min',
    'forename': 'first',
    'surname': 'first'
}).reset_index()

grouped_results['rating'] = grouped_results['points'] - (grouped_results['positionOrder'] * 10)
grouped_results[["forename","surname","rating"]].sort_values(by='rating', ascending=False)

# TODO : rating pas unique donc il faut rajouter des conditions

      forename     surname  rating
0        Lewis    Hamilton  4703.5
19   Sebastian      Vettel  3088.0
828        Max  Verstappen  2734.5
3     Fernando      Alonso  2294.0
7         Kimi   Räikkönen  1863.0
..         ...         ...     ...
149       Gary     Brabham  -340.0
265      Brian     McGuire  -350.0
163    Joachim  Winkelhock  -350.0
133     Enrico   Bertaggia  -380.0
491     Menato       Boffa  -380.0

[859 rows x 3 columns]

## Transformation de "PositionText"

Il faut transformer "R" et "F" en entiers.

- R = Retired (a abandonné)
- F = Finisher (a fini la course)